* {
  margin: 0;
  padding: 0;
}

body{
  /* 2 orbot, 7/ 14 obrot*/
  background-image: url('test2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.height1{
  height: calc(100vh - 70px);
}

.height2{
  height: calc(100vh - 70px);
}

.footer{
  background: rgba(30,30,30,0.8);
}


@media only screen and (max-width: 1024px) {
    .height1{
      height: 60px;
      background: rgba(30,30,30,0.8);
    }
    .height2{
      height: calc(100vh - 60px);
    }
    .footer{
      display:none;
    }
  }


  @media only screen and (max-width: 700px) {
      .main-button{
        width: 70%;
      }
  }
