ul{
  list-style-type: none;
}

hr{
  width: 100%;
}

.menu{
  height: calc(100vh - 70px);
  background: rgba(51,51,51,0.6);
  font-family: 'Open Sans';
  color: white;
  overflow: hidden;
}

.item:hover{
  color: blue;
}

.sub-item:hover{
  background: rgba(51,51,51,0.6);
}

.menu-item{
  width: 70%;
  word-wrap: break-word;
  margin: auto;
  margin-top: 55px;
  color: white;
  border-color: white;
}

.menu-item:hover{
  background: rgba(100,100,100, 0.3);
  color: #33ccff;
}

.menu-item:hover .link{
  color: #33ccff;
}

.menu-item:hover ul li{
  color: white;
}

.menu-item:hover ul li:hover{
  color: #33ccff;
  cursor: pointer;
}

.menu-item a span:hover{
  color: #33ccff;
}

.menu-item-icon{
  width: 15%;
  height: inherit;
  float: left;
  text-align: left;
  margin-top: 10px;
  vertical-align: middle;
  text-indent: 3px;
}

.menu-item-label{
  height: inherit;
  width: 85%;
  text-indent: 8px;
  font-size: 23px;
  float: left;
  margin-top: 10px;
  vertical-align: middle;
  cursor: pointer;
}

ul li ul li{
  text-align: left;
  font-size: 0.7em;
  margin-bottom: 15px;
  /* border-bottom: 1px solid white; */
}

ul li ul li:hover a{
  color: #red;
}



ul li ul{
  display: none;
}

ul li:hover ul{
  display:block;
  margin-top: 10px;
  transition: max-height 1s;
}

a{
  text-decoration: none;
  color: white;
}

.link{
  color: white;
}

.link:hover{
  color:#33ccff
}

.burger{
  display: none;
}

@media only screen and (max-width: 1024px){
  .menu{
    display:none;
  }
  .burger{
    display: block;
  }
}
