*::-webkit-scrollbar{
  width: 13px;
  height: 13px;
}

*::-webkit-scrollbar-track{
  background-color: rgb(80,80,80);
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.8)
}

*::-webkit-scrollbar-corner{
  background-color: rgb(80,80,80);
}

*::-webkit-scrollbar-thumb{
  background-color: rgb(30,30,30);
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 5px rgba(255,255,255,0.5)
}

*::-webkit-scrollbar-thumb:hover{
  background-color: rgba(40,40,40,0.8);
}
