.mainMenu{
  width: 600px;
  height: 900px;
  background-color: #333333;
  margin: 0 auto;
  text-align: center;
}

.titlee{
  color: white;
  font-size: 60px;
  font-family: fantasy;
  padding-top: 80px;
  margin-bottom: 100px;
}

.mainMenuButton{
  display: block;
  width: 300px;
  height: 60px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #808080;
  font-family: fantasy;
  color: white;
  font-size: 23px;
  border: none;
}

.mainMenuButton:hover{
  background-color: #505050;
  box-sizing: border-box;
  border: 3px solid #808080;
}

.main-label{
  font-family: 'Hammersmith One' !important;
  font-size: 4em;
  color: white;
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  text-align: center;
  margin-top: 10%;
}

.main-button{
  width: 40%;
  height: 70px;
  background-color: #ff7324;
  margin: 0 auto;
  -webkit-box-shadow: 3px 2px 15px -1px rgba(0,0,0,0.62);
  -moz-box-shadow: 3px 2px 15px -1px rgba(0,0,0,0.62);
  box-shadow: 3px 2px 15px -1px rgba(0,0,0,0.62);
  text-align: center;
  color: white;
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  font-family: 'Hammersmith One' !important;
  font-size: 2em;
  vertical-align: middle;
  line-height: 70px;
  letter-spacing: 3px;
  margin-top: 10px;
}

.main-button a{
  font-family: 'Hammersmith One' !important;
}

.bracket{
  width: 44vw;
  height: 35vh; /*35vh*/
  margin: 0 auto;
  margin-top: 50px;
  background: rgba(50,50,50,0.5);
  background-image: url('../bracket.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.main-button:hover{
  background-color: #f05700;
  border-color: #e65300;
}


@media only screen and (max-width: 1024px) {
    .bracket{
      display: none;
    }
}

@media only screen and (max-width: 700px) {
    .main-button{
      width: 70%;
    }
}
