.match-container{
  width: 900px;
  height: 300px;
  background-color: rgba(30,30,30,0.6);
  margin: 0 auto;
  margin-top: 20%;
  text-align: center;
}

.match{
  width: 300px;
  height: 280px;
  display: inline-block;
  margin-top: 9px;
  vertical-align:top;
}

.button-inside span {
  background-color: #ff7324;
}

.button-inside-show {
  width: 70%;
  height: 50px;
  margin-top: 20px;
  line-height: 50px;
  vertical-align: middle;
  background-color: #ff7324;
}

.match-left{
  border: 1px solid  #ff7324;
}

.match-middle{
  width: 220px !important;
  margin-left: 20px;
  margin-right: 20px;
}

.match-won-label{
  width: 100%;
  height: 50px;
  /* line-height: 50px; */
  vertical-align: middle;
  font-family: 'Hammersmith One';
  font-size: 25px;
  color: #ff7324;
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
}

.match-won-label span{
  font-size: 18px;
}

.match-vs{
  width: 100%;
  height: 180px;
  line-height: 180px;
  vertical-align: middle;
  font-family: 'Hammersmith One';
  font-size: 130px;
  color: #fff;
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);

}

.match-back-button{
  width: 100%;
  height: 50px;
}

.p-button-secondary{
  margin: 0 !important;
  padding: 0 !important;
  width: 80%;
  height: 45px;
  color: #000 !important;
  font-size: 20px !important;
  /* text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5) !important; */

}

.match-player{
  width: 100%;
  height: 100px;
  margin-top: 50px;
  text-align: center;
  font-family: 'Hammersmith One';
  font-size: 34px;
  color: #fff;
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  word-wrap: break-word;
}

.match-winner-button{
  width: 100%;
  height: 60px;
  margin-top: 20px;
  line-height: 60px;
  vertical-align: middle;
}

.match-right{
  border: 1px solid  #ff7324;
}

.p-button-warning-match{
  color: white !important;
  background-color: #ff7324 !important;
  border: 1px solid #ff7324 !important;
  width: 70%;
  height: 50px;
  font-size: 20px !important;
}

.p-button-warning:hover{
  background-color: #dd6112 !important;
}



@media only screen and (max-width: 1024px) {
    .match-container{
        margin-top: 8%;
    }
}

@media only screen and (max-width: 700px) {
    .match-container{
        margin-top: 5%;
        width: 320px;
        height: 750px;
    }
    .match{
      height: 235px;
    }
    .match-winner-button{
      margin-top: 0px !important;
    }
    .match-vs{
      height: 130px;
      line-height: 130px;
    }
}
