.list-container{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 5%;
  background: rgba(30,30,30,0.9);
  overflow: auto;
}

.p-accordion{
  width: 90%;
  margin: auto;
}

.p-accordion-header{
  background-color: blue !important;
}

body .p-accordion .p-accordion-header a .p-accordion-toggle-icon{
  color: #000;
}

body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight a .p-accordion-toggle-icon{
  color: #000
}

body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover a .p-accordion-toggle-icon{
  color: #000
}

body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight a{
  background-color: #333333 !important;
  border: none !important;
  color: #ff7324;
  font-family: 'Open Sans';
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  /* font-weight: bold; */
}

body .p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover a{
  background-color: #404040 !important;
  color: #ff4444;
  font-family: 'Open Sans';
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  /* font-weight: bold; */
}


body .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled) a{
  background-color: #505050;
  border: none !important;
  border-bottom: 1px solid #ff7324 !important;
  margin-bottom: 5px;
  color: #eee;
  font-family: 'Open Sans';
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  /* font-weight: bold; */
}

body .p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover a{
  background-color: #808080 !important;
  border: none !important;
  border-bottom: 1px solid #ff7324 !important;
  color: #ff4444;
  font-family: 'Open Sans';
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  /* font-weight: bold; */
}

body .p-accordion .p-accordion-content{
  background-color: #afafaf !important;
  border: none !important;
  border-bottom: 1px solid #ff7324 !important;
  margin-bottom: 5px;
  color: black !important;
  font-family: 'Open Sans' !important;
  font-size: 1em;
}

.p-button-danger{

}

.p-button-warning{
  color: white !important;
  background-color: #ff7324 !important;
  border: 1px solid #ff7324 !important;
}

.p-button-warning:hover{
  background-color: #dd6112 !important;
}

body .p-checkbox .p-checkbox-box.p-highlight{
  background-color: #ff7324 !important;
  border: 1px solid #ff7324 !important;
}

body .p-button{
    margin-top: 5px;
    margin-left: 5px;
}

.search-bar{
  width: 90%;
  height: 70px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans';
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
}

.search-bar input{
  width: 90%;
  height: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Open Sans';
}
