.statistics-container{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 5%;
  background: rgba(30,30,30,0.9);
  overflow: auto;
}

.statistics-search{
  width: 90%;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #ff7324;
  font-family: 'Open Sans';
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  font-weight: bold;
}

.statistics-search input{
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  font-size: 16px;
  font-family: 'Open Sans';
}

.statistics-main{
  width: 90%;
  margin: 0 auto;
}

.header{
  vertical-align:top;
  text-align: center;
  word-wrap: break-word;
}

.header-left{
  width: 28% !important;
  display: inline-block !important;
  font-family: 'Open Sans';
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
}

.header-right{
  width: calc(72% - 5px) !important;
  display: inline-block !important;
  font-family: 'Open Sans';
  color: #fff;
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}

.p-panel-titlebar{
  background-color: rgba(150,150,150,0.4) !important;
  border-color: rgba(150,150,150,0.4) !important;
}

.p-panel-content{
  background-color: rgba(208,208,208,0.4) !important;
  border-color: rgba(208,208,208,0.4) !important;
}

.content-left{
  width: 60% !important;
  display: inline-block !important;
  text-align: center !important;
}

.content-right{
  width: 40% !important;
  display: inline-block !important;
  text-align: center !important;
}
.content-bottom{
  width: 100% !important;
  font-family: 'Open Sans';
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin: auto;
  margin-top: 5px;
}

body .p-selectbutton .p-button{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

body .p-selectbutton .p-button.p-highlight{
  background-color: #ff7324 !important;
  border: 1px solid #ff7324 !important;
}



@media only screen and (min-width: 1025px) {
  .header-right{
    font-size: 20px;
  }
  .header-left{
    font-size: 20px;
  }
  .content-right{
    text-align: left !important;
  }
}

@media only screen and (max-width: 700px) {
  .content-left{
    width: 100% !important;
    margin-bottom: 5px !important;
  }
  .content-right{
    width: 100% !important;
  }.content-bottom{
    width: 58% !important
  }
}
