
.backButton{
  width: 120px;
  height: 30px;
  background-color: #808080;
  font-family: fantasy;
  color: white;
  font-size: 18px;
  border: none;
  margin-left: 30px;
  margin-top: 10px;
}

.backButton:hover{
  background-color: #505050;
  box-sizing: border-box;
  border: 3px solid #808080;
}

.ffa-round{
  margin-top: 10px;
}

.ffa-round span{
  color: #ff7324;
  font-family: 'Open Sans';
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  font-size: 1.5em;
  margin-left: 45px;
}

.ffa-game{
  display: inline-block !important;
}

.tournament-container{
  width:80%;
  height: 80%;
  margin: 0 auto;
  margin-top: 5%;
  background: rgba(30,30,30,0.9);
  overflow: auto;
}

.tournament-ffa{
  width: 100%;
  height: calc(100% - 45px);
  margin-top: 45px;
  overflow: auto;
}

.tournament-bracket{
  width: 100%;
  /* height: calc(100% - 45px); */
  margin-top: 65px;
  overflow: auto;
}

.button{
  width: 70px;
  height: 2em;
  background-color: blue;
  border: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  border-radius: 5px;
  margin-top: 5px;
  display: block;
  float: left;
  background-color: #ff7324;
  color: white;
  font-family: 'Open Sans';
}

.button:hover{
  background-color: #dd6112;
}

.tournament-label{
  margin: 10px;
  word-wrap: break-word;
  position: fixed;
  color: white;
  font-size: 2em;
  font-family: 'Roboto';
  text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5);
  /* z-index: 1; */
}

.tournament-statistics{
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}

.tournament-stat{
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1em;
  font-family: 'Open Sans';
  /* text-shadow: 0px 1px 7px rgba(2, 0, 0, 0.5); */
  color: #dd5112;
  font-weight: bold;
}

.tournament-stat-labels{
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.1em;
  font-family: 'Open Sans';
}

.tournament-stat-lp{
  display:inline-block;
  width: 30px;
  height: 100%;
  border: 1px solid black;
  border-top: none;
  font-weight: bold;
  color: black;
}

.tournament-stat-nick{
  display:inline-block;
  height: 100%;
  width: calc(70% - 34px);
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-top: none;
}

.tournament-stat-score{
  display:inline-block;
  height: 100%;
  width: 30%;
  border: 1px solid black;
  border-top: none;

}
